@inherits LayoutComponentBase

@*<ErrorBoundary>
    <ChildContent>*@
        @Body
@*    </ChildContent>
    <ErrorContent>
        <p class="errorUI">Nothing to see here right now. Sorry!</p>
    </ErrorContent>
</ErrorBoundary>*@