@page "/about"

<BlazorUI.Components.Public.Shared.NavBar />

<main class="container min-vh-90 py-md-5">
    <div class="row p-4 mt-md-5 shadow-no-hover">
        <div class="col">
            <h3 class="text-primary">Who is this.. Will?</h3>
            <h2>I'm a C# developer and a generalist.</h2>
            <p class="d-inline-flex">
                I specialise in not specialising in one particular area. Let me explain...
            </p>
            <br />
            <br />
            <p class="d-inline-flex">
                I can pivot between technologies and roles with relative ease, having proven experience in jumping from anything into database development, C# development, picking up WPF for a project, visiting clients for requirements gathering, and server management.
            </p>
            <br />
            <br />
            <p class="d-inline-flex">
                I have a passion for technology, automation and user experience. Sounds like a cliché, but I would not be working in technology if I did not find it interesting.
            </p>
            <p class="d-inline-flex">
                Being presented with new problems and learning new tricks, patterns, or entire technology stacks to solve these problems is something i enjoy.
                This Blzaor application was written over a period of a few days to try it out!
                <br />
                <br />
            </p>

            <hr />

            <div class="row">
                <div class="col-md-6">
                    <a href="assets/docs/2022-Website-Resume.pdf" download class="btn btn-primary shadow btn-lg d-flex justify-content-center align-items-center my-4">
                        <i class="fas fa-file-pdf"></i>&nbsp;View resume
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="/portfolio" class="btn btn-secondary shadow btn-lg d-flex justify-content-center align-items-center my-4">
                        <i class="fas fa-project-diagram"></i>&nbsp;Projects
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

<BlazorUI.Components.Public.Shared.Footer />