@page "/blog"

<BlazorUI.Components.Public.Shared.NavBar />

<main class="container min-vh-90 py-5">
    <div class="row">
        <div class="col">
            <h1 class="my-3">Blog</h1>
            <p>Click a category card to view its blog posts.</p>

            <div class="row">
                @if (DBCache.Categories != null)
                {
                    foreach (var category in DBCache.Categories)
                    {
                        <div class="col-md-4">
                            <BlazorUI.Components.Public.Blog.CategoryCard  Category="category"/>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

</main>


<BlazorUI.Components.Public.Shared.Footer />

@implements IDisposable
@code {

    [Inject] InMemoryDatabaseCache DBCache { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //This event subscription causes Blazor to rerender the component as the state has changed
        DBCache.OnCategoriesDataChanged += StateHasChanged;

        if(DBCache.Categories == null)
        {
            await DBCache.GetCategoriesAndCache();
        }
    }

    public void Dispose()
    {
        //Prevents memory leaks
         DBCache.OnCategoriesDataChanged -= StateHasChanged;
    }

}