@page "/contact"

<BlazorUI.Components.Public.Shared.NavBar />

<main class="container min-vh-90 py-md-5">
    <div class="row p-4 mt-md-5 shadow-no-hover">
        <div class="col">
            <h1 class="mb-4">Contact</h1>
            <p class="mb-1">
                My preferred form of contact is via email. If you wish to speak with me in a call, let me know and we can arrange a time to talk!
            </p>
            <p>Note that my timezone is Eastern Standard Time.</p>
            <a role="button" href="mailto:will@sneddon.dev" class="btn btn-primary">
                <i class="fas fa-envelope-open-text"></i> Drop me an email!
            </a>
        </div>
    </div>
</main>

<BlazorUI.Components.Public.Shared.Footer />
